<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Table users</title>
    <style>
        .block{
            background: #17a2b8;
            color: yellow;
        }
        .table{
            display: block;
            width: 1300px;
            margin-left: 300px;
        }

    </style>
</head>

<body background="wallpaper.jpg">
<div class="block">
<table class="table" border="1">
    <tr class="row">
        <td width = 50px>${id}</td>
        <td width = 250px>${firstName}</td>
        <td width = 250px>${secondName}</td>
        <td width = 250px>${salary}</td>
        <td width = 250px>${dateOfBirth}</td>
        <td width = 250px>EDIT DELETE</td>
    </tr>
</table>
</div>
</body>
</html>

